# Virtual Environment
venv/
.venv/
env/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class

# IDE configurations
.vscode/
.idea/

# Local configuration files
.env

# YOLO/Ultralytics/Training Output
runs/
rice_detection/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Sample generated images/plots from EDA
distribusi_kelas.png
geometri_bounding_box.png
kepadatan_objek.png
sampel_anotasi_dataset.png
analisis_warna_beras.png

# Documents/Reports
docs/
